.login-container {
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 50px auto; 
  margin: auto;
  margin-top: 100px ;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: rgb(5, 102, 102);
  padding-bottom: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}

.login-container button {
  width: 35%;
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  display: inline-block; 

}

.login-container button:hover {
  background-color: rgb(6, 98, 98);
}

