@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');




*{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.site-name{
    background: -webkit-linear-gradient(16deg,#55585a,#908b8b,#9f9090);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}